* {
    margin: 0;
    padding: 0;
}

body {
    height: max-content;
    background-color: rgb(0, 0, 33);
    color: rgb(236, 173, 183);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 76px;
    background-color: rgb(19, 19, 62);
    /* background-color:rgb(142, 49, 171) */
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

.left {
    font-size: 1.6rem;
}

.firstsection {
    display: flex;
    justify-content: space-around;
}

/* .leftsection div {   
            width: 30%;
            color: white;
            margin: 30px 0;
        }
        .rightsection{
            margin: 30%;
        }
    
        .rightsection img {
            width: 90%;
            margin: 50px 0;
        }

        .leftsection {
            font-size: 3rem;
            margin: 30px 0;
        } */
.firstsection {
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.firstsection>div {
    width: 30%;
    justify-content: space-around;
    margin-right: 7vw;
}

.leftsection {
    font-size: 3rem;
    margin: 40px 0;
}

.rightsection img {
    width: 80%;
    margin-left: 7vw;
    margin-top: 10px;
    /* transform: rotate(25deg);           try to done that at internet connection.*/

}

.purple {
    color: blueviolet;
}

.purple:hover {
    color: rgb(174, 133, 213);
}

.right ul a {
    color: pink;
    text-decoration: none;
    font-family: Verdana;
}

.right ul a:hover {
    color: rgb(167, 167, 220);
    text-decoration: none;
    font-family: Verdana;
    font-size: 1.04rem;
}

#element {
    color: blueviolet;
    font-size: 2.5rem;
}

.secondsection {
    margin: auto;
    max-width: 75vw;
    margin-top: 10px;
    height: 140vh;
}

.secondsection hr {
    border-style: dotted;
    color: rgb(159, 134, 134);
    border-width: 7px;
    height: 3px;
    border-bottom: 0;
    width: 11%;
    margin-left: 33vw;
    margin-bottom: 30px;
}

.secondsection h1 {
    font-size: 1.7rem;
    padding-bottom: 20px;
    margin-top: 10px;
}

.secondsection h1:hover {
    color: blueviolet;
    cursor: pointer;
    width: 40%;
}

.secondsection span {
    font-family: cursive;
    color: blueviolet;
    margin-top: 20px;

}
.secondsection .box{
    background: white;
    width: 80vw;
    height: 2px;
    margin-top: 4rem;
    display: flex;
}
.secondsection .vertical1{
    height: 90px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
    margin-left: 10rem;
}
.secondsection .vertical2{
    height: 150px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
    margin-left: 10rem;
}
.secondsection .vertical3{
    height: 210px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
    margin-left: 10rem;
}
.secondsection .vertical4{
    height: 270px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
    margin-left: 10rem;
}
.secondsection .img{
    width: 40px;
    height: 40px;
    position: relative;
    margin-top: -55px;
    padding-bottom: 2rem;
    margin-left: -9px;
}
.vertical-title1{
    margin-top: 60px;
    margin-left: -27px;
    width: 12rem;
}
.vertical-title2{
    margin-top: 118px;
    margin-left: -27px;
    width: 12rem;
}
.vertical-title3{
    margin-top: 173px;
    margin-left: -27px;
    width: 12rem;
}
.vertical-title4{
    margin-top: 233px;
    margin-left: -27px;
    width: 12rem;
}
.vertical-desc1{
    margin-top: 1rem;
    width: 12rem;
    margin-left: -2rem;

}
.vertical-desc2{
    margin-top: 1rem;
    width: 12rem;
    margin-left: -2rem;
}
.vertical-desc3{
    margin-top: 1rem;
    width: 12rem;
    margin-left: -2rem;
}
.vertical-desc4{
    margin-top: 1rem;
    width: 12rem;
    margin-left: -2rem;
}

.html{
    width:50px;
    height: 50px;
    margin-left: 2px;
}
.css{
    width:50px;
    height: 50px;
    margin-left: 2px;
}
.js{
    width:50px;
    height: 50px;
    margin-left: 2px;
}
.node{
    width:50px;
    height: 50px;
    margin-left: 2px;
}
.foot{
    width: 100%;
    height: 8rem;
    background-color: rgb(19, 19, 62);
}
.foot-img{
    text-align: center;
   padding-top: 2.2rem;
}
.image{
    margin-left: 10px;
    cursor: pointer;
}
.image1{
    background-color: white;
    border-radius: 100%;
    margin-left: 10px;
    cursor: pointer;
}
.foot-head{
    font-size: 0.8rem;
    text-align: center;
    padding-top: 1.7rem;
    /* background-color: rgb(125, 218, 218); */
}

/*Third section start here ------------->*/
 #third-sec{
    border-style: dotted;
    color: rgb(159, 134, 134);
    border-width: 7px;
    height: 3px;
    border-bottom: 0;
    width: 9%;
    margin-left: 44vw;
    margin-bottom: 30px;
}
#resume{
    width: 7rem;
    height: 3rem;
    background-color: rgb(19, 19, 62);
    border: 2px solid white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}
.thirdsection .prof  ul li  {
    margin-left: 25rem;
    list-style: none;
    margin-bottom: 1rem;
}
.thirdsection .prof .input{
    width: 30%;
    margin-left: 32rem;
    padding: 1rem;
    margin-top: -7rem;
    margin-bottom: 1rem;

}
.thirdsection h1{
    padding: 1rem;
    font-size: 2rem;
    margin-left:10rem ;
    margin-bottom:1rem ;
}
.thirdsection h1:hover{
    color: blueviolet;
}


/*Fourth section start here ------------->*/

#fourth-sec{
    border-style: dotted;
    color: rgb(159, 134, 134);
    border-width: 7px;
    height: 3px;
    border-bottom: 0;
    width: 9%;
    margin-top: 5rem;
    margin-left: 44vw;
    margin-bottom: 50px;
}    
.fourthsection h1{
    padding: 1rem;
    font-size: 2rem;
    margin-left:10rem ;
    margin-bottom:1rem ;
}
.fourthsection h1:hover{
    color: blueviolet;

}
.fourthsection .certificate{
    margin-top: 40px;
    margin-left: 11rem;
    margin-bottom: 2rem;
}
.fourthsection .certificate img{
    padding-left: 3rem;
}

/*Fifth section start here ------------->*/

#fifth-sec{
    border-style: dotted;
    color: rgb(159, 134, 134);
    border-width: 7px;
    height: 3px;
    border-bottom: 0;
    width: 9%;
    margin-top: 8rem;
    margin-left: 44vw;
    margin-bottom: 50px;
}
.fifthsection .intro{
    justify-content:space-between;
    display: flex;
    margin-left: 14rem;
    margin-top: 7rem;
    margin-bottom: 4rem;
}

.fifthsection .intro .h1{
    font-size: 3rem;
}
.fifthsection .intro h1 .sp{
    color: blueviolet;
}
.fifthsection .intro h1 .sp:hover{
    color: pink;
}
.fifthsection .intro h1 #para{
    font-size: 1.2rem;
}
.fifthsection .intro img{
    margin-right: 21em;
    border: 5px solid white;
    border-radius: 100%;
}
.sixsection .foot-img3{
    align-items: center;
    padding: 3px;
    margin-left: 13rem;
    margin-top: -6rem;
    cursor: pointer;
}
.sixsection button{
    width: 7rem;
    height: 3rem;
    background-color: rgb(19, 19, 62);
    border: 2px solid white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: white;
    border-radius: 8px;
    margin-left: 14rem;
    margin-top: 20px;
    margin-bottom: 4rem;
    list-style: none;
}
.sixsection button #contact{
    color: white;
    text-decoration: none;
    font-family: Verdana;
    border: none;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
}